<div class="setting u--center">
  <form role="form" id="settingForm" action="#">
    <ul class="settings__list">
      <li class="setting__itm"><a data-type="lang-select" data-lang="en_GB" class="selected" href="#">English</a></li>
      <li class="setting__itm"><a data-type="lang-select" data-lang="de_DE" class="" href="#">Deutsch</a></li>
      <li class="setting__itm"><a data-type="lang-select" data-lang="ru_RU" class="" href="#">Русский</a></li>
    </ul>
    {{options}}
    <div id="errorSettings" class="alert alert-warning u--nodisplay"></div>
    {{buttons}}

  </form>
</div>
