$footer-backgound: #edeff1;;
$footer-text-color: #bac1c8;
$footer-link-color: #9aa4af;

.footer {
  background-color: $footer-backgound;
  color: $footer-text-color;
  font-size: 15px;
  margin-top: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;

  &__lnk {
    color: $footer-link-color;
    font-weight: 700;
  }
}
