<div id="checkWord" class="">
  <div class="">
    <h3 id="checkWordInp" data-id="" data-direction=""></h3>
    <button data-type="checkWordBtn" type="button" class="btn btn-info"></button>
    <button data-type="checkWordBtn" type="button" class="btn btn-info"></button>
    <button data-type="checkWordBtn" type="button" class="btn btn-info"></button>
  </div>
</div>
<div id="enterWord" class="u--nodisplay">
  <div class="">
    <div class="form-group">
      <h3 id="enterWordInp"></h3>
      {{inputs}}
    </div>
    {{buttons}}
  </div>
</div>
<div id="noWordsRepeat" class="u--nodisplay">
  <div class="">
    <h3 id="allWordsDone" data-lang="allWordsDone" data-toggle="lang">No more words for repeat.</h3>
  </div>
</div>
