<div id="checkWord" class="">
  <div class="">
    <h3 id="checkWordInp" data-id="" data-direction=""></h3>
    <button data-type="checkWordBtn" type="button" class="btn btn-info"></button>
    <button data-type="checkWordBtn" type="button" class="btn btn-info"></button>
    <button data-type="checkWordBtn" type="button" class="btn btn-info"></button>
  </div>
</div>
<div id="enterWord" class="u--nodisplay">
  <div class="">
    <div class="form-group">
      <h3>
        <label for="inputWord" id="enterWordInp"></label>
      </h3>
      <input type="text" class="" id="inputWord" placeholder="Enter word">
    </div>
    <button id="enterBtn" type="button" class="btn btn-info" data-lang="enterBtn" data-toggle="lang">Check</button>
  </div>
</div>
<div id="noWordsRepeat" class="u--nodisplay">
  <div class="">
    <h3 id="allWordsDone" data-lang="allWordsDone" data-toggle="lang">No more words for repeat.</h3>
  </div>
</div>
