<div id="checkWord" class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 id="checkWordInp" data-id="" data-direction=""></h3>
    <button data-type="checkWordBtn" type="button" class="btn btn-info btn-block"></button>
    <button data-type="checkWordBtn" type="button" class="btn btn-info btn-block"></button>
    <button data-type="checkWordBtn" type="button" class="btn btn-info btn-block"></button>
  </div>
</div>
<div id="enterWord" class="row nodisplay">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <h3>
        <label for="inputWord" id="enterWordInp"></label>
      </h3>
      <input type="text" class="form-control" id="inputWord" placeholder="Enter word">
    </div>
    <button id="enterBtn" type="button" class="btn btn-info btn-lg" data-lang="enterBtn" data-toggle="lang">Check</button>
  </div>
</div>
<div id="noWordsRepeat" class="row nodisplay">
  <div class="col-md-12">
    <h3 id="allWordsDone" data-lang="allWordsDone" data-toggle="lang">No more words for repeat.</h3>
  </div>
</div>
