<div id="learnWordsGrp">
  <div class="">
    <div class="">
      <h3 id="learnWord"></h3>
    </div>
  </div>
  <div class="">
    <div class="">
      <h3 id="translateWord"></h3>
    </div>
  </div>
  <div class="">
    <div class="">
      <div class="btn-group">
        {{buttons}}
      </div>
    </div>
  </div>
</div>
<div id="noWordsLeft" class="u--nodisplay">
  <div class="">
    <h3 id="allWordsOk" data-lang="allWordsOk" data-toggle="lang">No more words for learning.</h3>
  </div>
</div>
