<div id="{{node}}" class="">
  <div class="vocabulary__new-fld" id="wordTxt-{{node}}">{{txt}}</div>
  <div class="vocabulary__new-fld" id="translateTxt-{{node}}">{{translate}}</div>
  <div class="vocabulary__add-btn">
    <button data-node="{{node}}" type="button" class="btn btn-info js-edit-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
    </button>
  </div>
</div>
<div id="{{node}}Edit" class="u--nodisplay">
  <form id="form-{{node}}" role="form">
    <div class="vocabulary__new-fld">
      <input type="text" class="form-control inp-fld" id="word-{{node}}" placeholder="Enter word" value="'{{val_txt}}">
    </div>
    <div class="vocabulary__new-fld">
      <input type="text" class="form-control inp-fld" id="translate-{{node}}" placeholder="Enter translate" value="'{{val_translate}}">
    </div>
    <div class="vocabulary__add-btn">
      <button data-node="{{node}}" type="button" class="btn btn-success js-save-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
      </button>
      <button id="del-{{node}}" data-node="{{node}}" type="button" class="btn btn-danger js-del-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
      </button>
    </div>
  </form>
</div>
