<div id="{{node}}" class="">
  <div class="">{{txt}}</div>
  <div class="">{{translate}}</div>
  <div class="">
    <button data-node="{{node}}" type="button" class="btn btn-info js-edit-btn">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>
</div>
<div id="{{node}}Edit" class="row u--nodisplay">
  <form id="form-{{node}}" role="form">
    <div class="">
      <input type="text" class="form-control inp-fld" id="word-{{node}}" placeholder="Enter word" value="{{txt}}">
    </div>
    <div class="">
      <input type="text" class="form-control inp-fld" id="translate-{{node}}" placeholder="Enter translate" value="{{translate}}">
    </div>
    <div class="">
      <button data-node="{{node}}" type="button" class="btn btn-success js-save-btn">
        <span class="glyphicon glyphicon-ok">
        </span>
      </button>
      <button id="del-{{node}}" data-node="{{node}}" data-id="{{index}}" type="button" class="btn btn-danger js-del-btn">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </form>
</div>
