.vocabulary__new-fld {
  display: inline-block;

width: 30%;

}

.vocabulary__new-fld--narrow {
  display: inline-block;

width: 15%;

}

.vocabulary__add-btn {
  display: inline-block;

vertical-align: middle;

}
