<div class="row">
  <form id="addWordForm" role="form">
    <div class="">
      <div class="form-group form-group-right">
        <label for="inputWordTxt" data-lang="inputWordLbl" data-toggle="lang">Word</label>
        <input type="text" class="form-control inp-fld" id="inputWordTxt" placeholder="Enter word" value="">
      </div>
    </div>
    <div class="">
      <div class="form-group form-group-right">
        <label for="inputTranslate" data-lang="inputTranslateLbl" data-toggle="lang">Translate</label>
        <input type="text" class="form-control inp-fld" id="inputTranslate" placeholder="Enter translate" value="">
      </div>
    </div>
    <div class="">
      <button id="addBtn" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </form>
</div>
<div id="errorVocabularyBox" class="row nodisplay">
  <div class="">
    <div id="errorVocabulary" class="alert alert-warning"></div>
  </div>
</div>
<hr />
<div id="vocabularyBox" class="">
</div>
