$borderColor: #bdc3c7;
$borderColorFocus: #1ABC9C;
$backgroundColor: #FFF;
$backgroundColorFocus: #ECF0F1;

.form-control {
  background-color: $backgroundColor;
  background-image: none;
  display: block;
  width: 100%;
  border: 2px solid $borderColor;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 42px;
  border-radius: 6px;
  box-shadow: none;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;

  &:focus {
    background-color: $backgroundColorFocus;
    border: 2px solid $borderColorFocus;
    outline: none;
  }
}

.inp-fld {
  display: inline-block;
  width: 80%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .inp-fld {
    display: inline-block;
    width: 69%;
  }
}
@media (max-width: 768px) {
  .inp-fld {
    display: inline-block;
    width: 70%;
  }
}
